   <style>

footer {
    position: relative;
    width: 100%;
    margin-top: 120px;
}


   </style>
   
   <footer>
        <p>Contact Us</p>

        <div class="information">
            <div class="mail">
                <h2>Mailing Address</h2>
                <p>123 Anywhere St., Any City, State, Country 12345</p>
            </div>

            <div class="email-address">
                <h2>Email Address</h2>
                <p>sfs@dal.ca</p>
            </div>

            <div class="phone-num">
                <h2>Phone Number</h2>
                <p>(123) 456 7890</p>
            </div>
        </div>
    </footer>
</body>
</html>
