   <style>
         footer {
             background-color: #FFD73A;
             padding: 20px 15px;
             font-family: 'Georgia', serif;
             color: #111;
         }
 
         footer > p {
             font-size: 20px;
             font-weight: bold;
             margin-bottom: 40px;
         }
 
         .information {
             display: flex;
             justify-content: space-between;
             flex-wrap: wrap;
             gap: 40px;
         }
 
         .information div {
             flex: 1;
             min-width: 250px;
         }
 
         .information h2 {
             font-size: 15px;
             font-weight: bold;
             margin-bottom: 10px;
         }
 
         .information p {
             font-size: 11px;
             margin: 0;
         }
   
   </style>
   
   <footer>
        <p>Contact Us</p>

        <div class="information">
            <div class="mail">
                <h2>Mailing Address</h2>
                <p>123 Anywhere St., Any City, State, Country 12345</p>
            </div>

            <div class="email-address">
                <h2>Email Address</h2>
                <p>sfs@dal.ca</p>
            </div>

            <div class="phone-num">
                <h2>Phone Number</h2>
                <p>(123) 456 7890</p>
            </div>
        </div>
    </footer>
</body>
</html>
